.count {
    h2.skip{}
    .wrapper {
        margin: 0 auto;
        width: 100%;
        .photo {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}