@keyframes ShakeUpDown {
    0%, 100%, 5% {transform:translateY(0);}
    10%, 30%, 50%, 70% {transform:translateY(-10px);}
    20%, 40%, 60% {transform:translateY(10px);}
    80% {transform:translateY(8px);}
    90% {transform:translateY(-8px);}
}

.rot_visual {
    position: relative;
    width: 100%;
    background-image: url(../images/rot/rot_visual.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
        @include flex-col;
        justify-content: center;
        gap: 1.41em;
        height: 55em;
        color: $bg-color;
        .title {
            @include flex-col;
            gap: 0.94em;
            h2 {
                font-size: $visual-s;
                font-weight: 700;
            }
            ul {
                @include flex-col;
                gap: 0.23em;
                li {
                    display: flex;
                    gap: 0.94em;
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
        .renewal_site {
            a {
                display: inline-block;
                padding: 0.52em 1.05em;
                border: 1px solid #BD0020;
                border-radius: 100px;
                background-color: $bg-color;
                color: #BD0020;
                font-size: $body-L;
                font-weight: 700;
                &:hover {
                    background-color: #8A0017;
                    border: 1px solid #BD0020;
                    color: $bg-color;
                    transition: 0.1s;
                }
            }
        }
        .arrow_div {
            position: absolute;
            left: calc(50% - 11px);
            bottom: 4.82em;
            height: 1.29em;
            .arrow {
                position: absolute;
                opacity: 1;
                &:first-child {
                    animation: motion 2s ease-out 0s infinite;
                }
                &:last-child {
                    animation: motion 2s ease-out 1s infinite;
                    opacity: 0;
                }
            }
        }
    }
}
.rot_design_concept {
    padding: 5.88em 0;
    .wrapper {
        @include flex-col;
        gap: 1.88em;
        h2 {
            font-size: $title-XXL;
            font-weight: 700;
            color: $title-color;
        }
        .top_inner {
            display: flex;
            align-items: center;
            gap: 5.88em;
            .title {
                flex: 1;
                span {
                    @include diesign_concept_span;
                }
            }
            .typography {
                @include flex-col;
                color: #BD0020;
                em {
                    font-family:"Riasans";
                    font-size: $title-XXL;
                    font-weight: 700;
                }
                span {
                    font-size: $title-XXL;
                    font-weight: 700;
                }
                strong {
                    font-size: $title-XXL;
                }
            }
        }
        .color {
            display: flex;
            gap: 1.41em;
            .prmary, .pramry_2, .secondary, .title_90, .body_70 {
                @include flex-center;
                gap: 0.58em;
                height: 5.29em;
                border-radius: 0.58em;
                span,em {
                    font-size: $body-s;
                    font-weight: 700;
                    color: $bg-color;
                }
            }
            .prmary {
                width: 40%;
                background-color: #BD0020;
            }
            .pramry_2 {
                width: 20%;
                background-color: #F00028;
            }
            .secondary {
                width: 20%;
                background-color: #FFAF00;
            }
            .title_90 {
                width: 20%;
                background-color: $title-color;
            }
            .body_70 {
                width: 20%;
                background-color: $body-color;
            }
        }
    }
}
.rot_popup {
    padding: 5.88em 0;
    .wrapper {
        @include flex-col;
        gap: 1.88em;
        h2 {
            font-size: $title-XXL;
            font-weight: 700;
            color: $title-color;
        }
        .photo {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.rot_page_detail {
    padding: 5.88em 0;
    h2.skip {
    }
    .wrapper {
        .photo {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.rot_device {
    padding: 5.88em 0;
    background: url(../images/rot/rot_footer_bg.jpg) no-repeat center center / cover;
    .wrapper {
        @include flex-center;
        flex-direction: column;
        gap: 1.88em;
        h2 {
            font-size: $title-XXL;
            font-weight: 700;
            color: $bg-color;
        }
        .renewal_site {
            a {
                display: inline-block;
                padding: 0.52em 1.05em;
                border: 1px solid #BD0020;
                border-radius: 100px;
                background-color: $bg-color;
                color: #BD0020;
                font-size: $body-L;
                font-weight: 700;
                &:hover {
                    background-color: #8A0017;
                    border: 1px solid #BD0020;
                    color: $bg-color;
                    transition: 0.1s;
                }
            }
        }
        .photo_inner {
            display: flex;
            .mobile {
                height: 514px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                animation:ShakeUpDown 12s ease infinite normal both;
            }
            .desktop {
                height: 514px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                animation:ShakeUpDown 12s ease infinite normal both;
            }
        }
    }
    .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.35em;
        .mobile {
            display: flex;
            gap: 1.41em;
            i {
                position: relative;
                width: 4.58rem;
                height: 4.58rem;
                background-image: url("data:image/svg+xml,%3Csvg width='78' height='79' viewBox='0 0 78 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_279_8630' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='78' height='79'%3E%3Crect y='0.84375' width='78' height='78' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_279_8630)'%3E%3Cpath d='M32.5 65.8438H45.5V62.5938H32.5V65.8438ZM22.75 75.5938C20.9625 75.5938 19.4323 74.9573 18.1594 73.6844C16.8865 72.4115 16.25 70.8812 16.25 69.0938V10.5938C16.25 8.80625 16.8865 7.27604 18.1594 6.00313C19.4323 4.73021 20.9625 4.09375 22.75 4.09375H55.25C57.0375 4.09375 58.5677 4.73021 59.8406 6.00313C61.1135 7.27604 61.75 8.80625 61.75 10.5938V69.0938C61.75 70.8812 61.1135 72.4115 59.8406 73.6844C58.5677 74.9573 57.0375 75.5938 55.25 75.5938H22.75ZM22.75 59.3438V69.0938H55.25V59.3438H22.75ZM22.75 52.8438H55.25V20.3438H22.75V52.8438ZM22.75 13.8438H55.25V10.5938H22.75V13.8438Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                @include bg;
            }
            .inner {
                @include flex-col;
                justify-content: space-around;
                font-weight: 700;
                color: $bg-color;
                span {
                    width: 109px;
                    font-size: $title-L;
                }
                em {
                    font-size: $body-m-default;
                }
            }
        }
        .line {
            font-size: 0;
            line-height: 0;
            height: 1px;
            width: 100%;
            background-color: $bg-color;
        }
        .notebook {
            display: flex;
            gap: 1.41em;
            i {
                position: relative;
                width: 4.58rem;
                height: 4.58rem;
                background-image: url("data:image/svg+xml,%3Csvg width='78' height='79' viewBox='0 0 78 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_279_8641' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='78' height='79'%3E%3Crect y='0.84375' width='78' height='78' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_279_8641)'%3E%3Cpath d='M3.25 69.0938V62.5938H74.75V69.0938H3.25ZM13 59.3438C11.2125 59.3438 9.68229 58.7073 8.40937 57.4344C7.13646 56.1615 6.5 54.6312 6.5 52.8438V17.0938C6.5 15.3063 7.13646 13.776 8.40937 12.5031C9.68229 11.2302 11.2125 10.5938 13 10.5938H65C66.7875 10.5938 68.3177 11.2302 69.5906 12.5031C70.8635 13.776 71.5 15.3063 71.5 17.0938V52.8438C71.5 54.6312 70.8635 56.1615 69.5906 57.4344C68.3177 58.7073 66.7875 59.3438 65 59.3438H13ZM13 52.8438H65V17.0938H13V52.8438Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                @include bg;
            }
            .inner {
                width: 109px;
                @include flex-col;
                justify-content: space-around;
                font-weight: 700;
                color: $bg-color;
                span {
                    font-size: $title-L;
                }
                em {
                    font-size: $body-m-default;
                }
            }
        }
    }
}