@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    padding: 5.64rem 0;
}
.visual .wrapper {
    display: flex;
    gap: 2.82em;
}
.visual .ul {
    width: 100%;
}
.visual .ul li {
    display: flex;
}
.visual .ul li .popup_title {
    padding: 2.35em;
}
.visual .ul li .popup_title a {
    height: 324px;
}
.visual .user {
    width: 100%;
}
