@import "./_font";
@import "./_default";
@import "./_common";
@import "./_layout";
@import "./_var";

.number1 {
    padding: 9.7em 0 2.35em 0;
    .search {
        display: flex;
        justify-content: center;
        .label {
            display: none;
        }
        .serach_content {
            display: flex;
            position: relative;
            align-items: center;
            gap: 1.4em;
            .sejong {
                a {
                    display: flex;
                    width: 100%;
                    height: 5.76em; 
                }
            }
            input {
                width: 31.88em;
                height: 2.7em;
                padding-left: 0.58em;
                border: 2px solid var(--primary-color-50);
                border-radius: 0.35em;  
            }
            button {
                position: absolute;
                right: 0;
                width: 2.7em;
                height: 2.7em;
                background-image: url("data:image/svg+xml,%3Csvg width='43' height='42' viewBox='0 0 43 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.734375 0H38.7344C40.9435 0 42.7344 1.79086 42.7344 4V38C42.7344 40.2091 40.9435 42 38.7344 42H0.734375V0Z' fill='%233E3276'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7328 19.8984C13.7328 16.0877 16.822 12.9984 20.6328 12.9984C24.4436 12.9984 27.5328 16.0877 27.5328 19.8984C27.5328 21.7115 26.8335 23.3613 25.6899 24.5927C25.6143 24.6303 25.5434 24.6806 25.4804 24.7436C25.4173 24.8067 25.367 24.8777 25.3294 24.9534C24.0977 26.0983 22.447 26.7984 20.6328 26.7984C16.822 26.7984 13.7328 23.7092 13.7328 19.8984ZM26.0524 26.4469C24.5812 27.6658 22.6926 28.3984 20.6328 28.3984C15.9384 28.3984 12.1328 24.5929 12.1328 19.8984C12.1328 15.204 15.9384 11.3984 20.6328 11.3984C25.3272 11.3984 29.1328 15.204 29.1328 19.8984C29.1328 21.9569 28.4011 23.8445 27.1835 25.3153L30.5006 28.6324C30.813 28.9448 30.813 29.4513 30.5006 29.7638C30.1882 30.0762 29.6816 30.0762 29.3692 29.7638L26.0524 26.4469Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain; 
                i {
                    font-size: 0;
                    line-height: 0;
                }
            }            
        }
    }
}
