@mixin mobile {
    @media (max-width:640px){
        @content;
        body, html {
            font-size: 15px;
        }
    }
}

@mixin skip {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 3px;
    color: transparent;
    line-height: 0;
}