@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: "Riasans";
    src: local('RiaSans-ExtraBold'), url(../fonts/RiaSans-ExtraBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
