.skipnav {
    z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.skipnav a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    transform: translateY(-100%);
}
.skipnav a:focus, .skipnav a:active{
    transform: translateY(0);
}
/* 헤더 사라지게 */
.hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

header {
    z-index: 100000;
    position: fixed;
    width: 100%;
    height: var(--header-h);
    color: var(--bg-color-3);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: flex;
    width: 10rem;
    height: var(--header-h);
    font-size: 0;
    line-height: 0;
    background: url(../images/logo/logo_w.svg) no-repeat center center / contain;
}
header .tnb {
    display: flex;
    gap: 0.58rem;
    font-size: 0;
    line-height: 0;
}
header .tnb a {
    display: flex;
    width: 2.11rem;
    height: var(--header-h);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
header .tnb .facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.2948 20.2236L27.2848 13.7736H21.0948V9.59359C21.0948 7.83359 21.9548 6.11359 24.7248 6.11359H27.5348V0.623594C27.5348 0.623594 24.9948 0.183594 22.5548 0.183594C17.4548 0.183594 14.1248 3.27359 14.1248 8.86359V13.7736H8.46484V20.2236H14.1248V35.8136H21.0948V20.2236H26.2948Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb .insta a {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.2399 6.54297C26.0899 6.54297 25.1499 7.48297 25.1499 8.63297C25.1499 9.78297 26.0899 10.723 27.2399 10.723C28.3899 10.723 29.3299 9.78297 29.3299 8.63297C29.3299 7.48297 28.3899 6.54297 27.2399 6.54297Z' fill='white'/%3E%3Cpath d='M17.9502 9.22266C13.1102 9.22266 9.18018 13.1627 9.18018 17.9927C9.18018 22.8227 13.1202 26.7627 17.9502 26.7627C22.7802 26.7627 26.7202 22.8227 26.7202 17.9927C26.7202 13.1627 22.7802 9.22266 17.9502 9.22266ZM17.9502 23.6127C14.8502 23.6127 12.3302 21.0927 12.3302 17.9927C12.3302 14.8927 14.8502 12.3727 17.9502 12.3727C21.0502 12.3727 23.5702 14.8927 23.5702 17.9927C23.5702 21.0927 21.0502 23.6127 17.9502 23.6127Z' fill='white'/%3E%3Cpath d='M24.92 35.8114H10.7C4.8 35.8114 0 31.0114 0 25.1114V10.8914C0 4.99141 4.8 0.191406 10.7 0.191406H24.92C30.82 0.191406 35.62 4.99141 35.62 10.8914V25.1114C35.62 31.0114 30.82 35.8114 24.92 35.8114ZM10.69 3.53141C6.64 3.53141 3.34 6.83141 3.34 10.8814V25.1014C3.34 29.1514 6.64 32.4514 10.69 32.4514H24.91C28.96 32.4514 32.26 29.1514 32.26 25.1014V10.8814C32.26 6.83141 28.96 3.53141 24.91 3.53141H10.69Z' fill='white'/%3E%3C/svg%3E%0A");
}


footer {
    padding: 3.76em 0 4.70em 0;
    background: var(--title-color);
    color: var(--bg-color);
}
footer .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.82em;
}
footer .infor h2 {
    font-family: "Riasans";
    font-size: var(--h-s);
    line-height: 1.5;
    color: var(--bg-color);
}
footer .copyright {
    font-size: var(--sub);
    opacity: 0.6;
}
@media screen and (max-width:640px){
    footer {
        padding: 2.13em 0 2.66em 0;
    }
    footer .wrapper {
        gap: 1.6em;
    }
    footer .infor h2 {
        font-size: var(--title-m);
    }
}