@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    height: 40.58em;
    padding: 4.70em 0 0 0;
    background-color: var(--bg-color-3);
}

.visual .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.visual .wrapper .inner {
    position: relative;
    top: 4.11rem;
}
.visual .wrapper .chizz, .photato, .flash {
    position: absolute;
}
.visual .buguer {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.visual .photato {
    width: 30%;
    height: auto;
    bottom: 83%;
    left: calc(50% - 89px);
    object-fit: contain;
}
.visual .wrapper .chizz {
    width: 100%;
    height: auto;
    top: 25%;
    left: calc(50% - 85px);
    object-fit: cover;
    
}
.visual .flash {
    width: 40%;
    height: auto;
    bottom: 104%;
    left: calc(50% - 126px);
    object-fit: contain;
    animation: fadein 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.visual h2 {
    position: relative;
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
    color: var(--bg-color);
}
.visual h2::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 4.70rem;
    top: -1.5em;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='237' height='82' viewBox='0 0 237 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M93.6047 23.7177C81.2064 32.5963 61.6092 35.4593 53.3604 35.781C53.3604 44.949 57.0098 63.2852 71.6078 63.2852C89.8552 63.2852 101.104 52.187 128.85 35.781C151.047 22.6561 182.759 41.2496 195.84 52.187C199.006 43.5819 205.139 26.227 204.339 25.6479C203.339 24.9242 179.093 15.2735 160.095 11.8958C141.098 8.51807 109.102 12.6196 93.6047 23.7177Z' fill='%23F5F5F5'/%3E%3Cpath d='M3.50727 56.8168C1.57026 47.9585 7.18112 39.2071 16.0395 37.2701L67.5674 26.0027L76.5413 67.042L25.0134 78.3094C16.155 80.2464 7.4036 74.6355 5.46659 65.7772L3.50727 56.8168Z' fill='%23FF9500'/%3E%3Cpath d='M225.899 59.8613C222.248 68.1618 212.56 71.9314 204.26 68.281L147.804 43.453L164.716 4.99839L221.171 29.8265C229.472 33.4768 233.241 43.1649 229.591 51.4653L225.899 59.8613Z' fill='%23FF9500'/%3E%3Cpath d='M214.933 -0.00101795L203.143 0.0429688L203.28 36.836L215.07 36.792L214.933 -0.00101795Z' fill='white'/%3E%3Cpath d='M193.79 0.077107L182 0.121094L182.137 36.9141L193.928 36.8701L193.79 0.077107Z' fill='white'/%3E%3Cpath d='M208.059 10.8099L203.183 10.8281L203.239 26.0513L208.116 26.0331L208.059 10.8099Z' fill='black'/%3E%3Cpath d='M186.917 10.8842L182.04 10.9023L182.097 26.1255L186.973 26.1074L186.917 10.8842Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}

.new_item {
    padding: 5.88em 0;
}
.new_item h2 {
    display: none;
}
.new_item .new_item_wrap .swiper {
    width: 100%;
}
.new_item .swiper ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.41em;
}
.new_item .swiper ul li .photo {
    width: 40%;
    height: 17.64rem;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.new_item .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.new_item .swiper ul li .new_item_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.58em;
}
.new_item .swiper ul li .new_item_title h3 {
    font-family: "Riasans";
    font-size: var( --title-XL);
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
}
.new_item .swiper ul li .new_item_title p {
    max-width: 515px;
    text-align: center;
}

.new_item .prev, .next {
    z-index: 4;
    width: 10%;
    height: 3.76rem;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.new_item .prev {
    position: absolute;
    top: 6.94rem;
    left: 0.82rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5017 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
    transition: 0.2s;
}
.new_item .prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5018 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23BD001F'/%3E%3C/svg%3E%0A");
}
.new_item .next {
    position: absolute;
    top: 6.94rem;
    right: 0.82rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5017 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
    transform: scale(-1);
    transition: 0.2s;
}
.new_item .next:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5018 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23BD001F'/%3E%3C/svg%3E%0A");
}
/* 페이지 네이션 건드는곳 */
.new_item .swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.41rem;
}
.new_item .swiper-pagination-bullet {
    width: 0.58rem;
    height: 0.58rem;
    font-size: 0;
    line-height: 0;
}
.new_item .swiper-pagination-bullet-active {
    width: 1.17rem !important;
    height: 1.17rem !important;
    background-color: rgb(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33317 17.5C2.87484 17.5 2.48248 17.3368 2.15609 17.0104C1.8297 16.684 1.6665 16.2917 1.6665 15.8333V13.3333H18.3332V15.8333C18.3332 16.2917 18.17 16.684 17.8436 17.0104C17.5172 17.3368 17.1248 17.5 16.6665 17.5H3.33317ZM9.99984 11.25C9.49984 11.25 9.104 11.3889 8.81234 11.6667C8.52067 11.9444 7.98595 12.0833 7.20817 12.0833C6.43039 12.0833 5.90261 11.9444 5.62484 11.6667C5.34706 11.3889 4.95817 11.25 4.45817 11.25C3.95817 11.25 3.56234 11.3889 3.27067 11.6667C2.979 11.9444 2.44428 12.0833 1.6665 12.0833V10.4167C2.1665 10.4167 2.56234 10.2778 2.854 10C3.14567 9.72222 3.68039 9.58333 4.45817 9.58333C5.23595 9.58333 5.76373 9.72222 6.0415 10C6.31928 10.2778 6.70817 10.4167 7.20817 10.4167C7.70817 10.4167 8.104 10.2778 8.39567 10C8.68734 9.72222 9.22206 9.58333 9.99984 9.58333C10.7776 9.58333 11.3123 9.72222 11.604 10C11.8957 10.2778 12.2915 10.4167 12.7915 10.4167C13.2915 10.4167 13.6804 10.2778 13.9582 10C14.2359 9.72222 14.7637 9.58333 15.5415 9.58333C16.3193 9.58333 16.8679 9.72222 17.1873 10C17.5068 10.2778 17.8887 10.4167 18.3332 10.4167V12.0833C17.5554 12.0833 17.0346 11.9444 16.7707 11.6667C16.5068 11.3889 16.1248 11.25 15.6248 11.25C15.1248 11.25 14.7221 11.3889 14.4165 11.6667C14.1109 11.9444 13.5693 12.0833 12.7915 12.0833C12.0137 12.0833 11.479 11.9444 11.1873 11.6667C10.8957 11.3889 10.4998 11.25 9.99984 11.25ZM1.6665 8.33333V7.5C1.6665 5.90278 2.41998 4.67014 3.92692 3.80208C5.43386 2.93403 7.45817 2.5 9.99984 2.5C12.5415 2.5 14.5658 2.93403 16.0728 3.80208C17.5797 4.67014 18.3332 5.90278 18.3332 7.5V8.33333H1.6665Z' fill='%23F00028'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/**************************************************/

.stroy {
    position: relative;
    overflow: hidden;
    padding: 5.88em 0;
    background-color: var(--bg-color-3);
}
.stroy .photato {
    position: absolute;
    bottom: 0;
    right: 13%;
    width: 11%;
    height: auto;
    object-fit: contain;
}
.stroy .hambergur {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 12%;
    height: auto;
    background-size: contain;
}
.stroy::after {
    position: absolute;
    content: "";
    bottom: 1.94rem;
    left: -5.52rem;
    width:  20%;
    height: 21.52rem;
    background-image: url("data:image/svg+xml,%3Csvg width='427' height='368' viewBox='0 0 427 368' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M390.061 155.052C337.535 203.863 258.888 243.777 156.291 273.669C80.9607 295.612 21.2062 303.599 18.7015 303.931L11.4489 248.969C13.7343 248.666 241.317 217.579 352.283 114.453L390.072 155.054L390.061 155.052Z' fill='%23FFAF00'/%3E%3Cpath d='M364.993 97.7806C365.987 87.6032 370.599 75.9401 378.703 63.1158C384.654 53.6979 390.259 47.2452 390.496 46.9742L396.441 52.2197C396.226 52.4663 374.935 77.1173 372.834 98.6187L364.992 97.7792L364.993 97.7806Z' fill='%23FFAF00'/%3E%3Cpath d='M368.797 194.901C375.577 194.339 383.761 195.968 393.122 199.744C399.996 202.517 404.888 205.417 405.094 205.539L402.369 210.056C402.182 209.945 383.508 198.947 369.183 200.134L368.797 194.9L368.797 194.901Z' fill='%23FFAF00'/%3E%3Cpath d='M328.949 115.338L310.294 113.027L303.082 171.242L321.737 173.553L328.949 115.338Z' fill='white'/%3E%3Cpath d='M295.496 111.202L276.841 108.891L269.629 167.106L288.284 169.417L295.496 111.202Z' fill='white'/%3E%3Cpath d='M315.895 131.046L308.179 130.09L305.195 154.176L312.911 155.132L315.895 131.046Z' fill='black'/%3E%3Cpath d='M282.444 126.893L274.729 125.938L271.744 150.024L279.46 150.98L282.444 126.893Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy::before {
    z-index: 1;
    position: absolute;
    content: "";
    bottom: 1.94rem;
    right: -0.52rem;
    width: 9%;
    height: 21.52rem;
    background-image: url("data:image/svg+xml,%3Csvg width='223' height='323' viewBox='0 0 223 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.7771 108.742C83.7358 167.539 149.725 223.856 240.928 276.118C307.894 314.487 363.187 335.916 365.505 336.812L385.126 285.931C383.011 285.114 172.572 202.862 90.2703 78.6413L44.7662 108.742L44.7771 108.742Z' fill='%23FFAF00'/%3E%3Cpath d='M81.9675 59.7663C83.3652 49.8052 81.6472 37.5886 76.8585 23.4557C73.3419 13.0769 69.4716 5.61315 69.3079 5.29939L62.4126 8.94292C62.5609 9.22826 77.2295 37.7134 74.2758 58.7579L81.9686 59.7652L81.9675 59.7663Z' fill='%23FFAF00'/%3E%3Cpath d='M55.9156 151.753C49.5617 149.651 41.3602 149.319 31.5382 150.769C24.3252 151.834 18.9782 153.478 18.7533 153.547L20.3164 158.495C20.5209 158.432 40.9153 152.226 54.3386 156.668L55.915 151.752L55.9156 151.753Z' fill='%23FFAF00'/%3E%3Cpath d='M93.8119 78.4667L112.183 80.5625L105.643 137.892L87.2717 135.796L93.8119 78.4667Z' fill='white'/%3E%3Cpath d='M126.755 82.2284L145.126 84.3242L138.586 141.653L120.215 139.558L126.755 82.2284Z' fill='white'/%3E%3Cpath d='M102.668 96.4964L110.266 97.3633L107.56 121.083L99.9615 120.217L102.668 96.4964Z' fill='black'/%3E%3Cpath d='M135.611 100.246L143.209 101.113L140.503 124.833L132.905 123.967L135.611 100.246Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.58em;
    color: var(--bg-color);
}
.stroy h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
}
.stroy .fun_bg, .stroy_bg{
    position: absolute;
    font-family: "Riasans";
    font-size: 14vw;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.1);
}
.stroy .fun_bg {
    top: 0;
    left: -3%;
}
.stroy .stroy_bg {
    top: 2%;
    right: -14%;
}
.stroy p {
    max-width: 31.41em;
    text-align: center;
}
.stroy p span {
    font-size: var(--body-L);
    font-weight: 700;
}
.stroy .more a {
    display: flex;
    padding: 0.52em 1.05em;
    font-size: var(--body-L);
    font-weight: 700;
    border-radius: 5.26rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: 0.2s;
}
.stroy .more a:hover {
    color: var(--bg-color);
    background-color: var(--hover-color);
}

.core_value {
    padding: 5.88em 0;
}
.core_value h2 {
    font-family: "Riasans";
    font-size: var(--h-s);
    line-height: 1.5;
    color: var(--primary-color);
}
.core_value .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;
}
.core_value ul {
    display: flex;
    align-items: center;
    gap: 1.41em;
    width: 100%;
}
.core_value ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.41em;
}
/* 디폴트일때 */
.core_value ul .Friendly {
    padding-bottom: 40px;
}
.core_value ul .Friendly .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.58em;
}
/******************************/
.core_value ul li .artwork {
    width: 100%;
    height: 17.47rem;
    font-size: 0;
    line-height: 0;
    border-radius: 2.35rem;
}
.core_value ul li .a {
    background: url(../images/corevalue/core_value_01.svg) no-repeat center center /contain;
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}
.core_value ul li .b {
    background: url(../images/corevalue/core_value_02.svg) no-repeat center center /contain;
    box-shadow: 4px 9px 28px 0px rgba(0, 0, 0, 0.08);
}
.core_value ul li .c {
    background: url(../images/corevalue/core_value_04.svg) no-repeat center center / contain ;
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}
.core_value ul li .d {
    background: url(../images/corevalue/core_value_03.svg) no-repeat center center /contain;
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}
/* 디폴트일때 */
.core_value ul .Suitable .title, .Various .title, .Enjoyable .title  {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.58em;
    margin-bottom: 40px;
    opacity: 0;
    animation: fade-in 0.2s;
    animation-fill-mode: forwards;
}
/******************************/
.core_value ul .Suitable:hover .title, .Various:hover .title, .Enjoyable:hover .title {
    display: flex;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
  
    }
    to {
      opacity: 0;
    }
  }

.core_value ul li .title h3 {
    font-family: "Riasans";
    font-size: var(--title-m);
    line-height: 1.5;
    color: var(--title-color);
}
.core_value ul li .title span {
    text-align: center;
}
.history {
    padding: 5.88em 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.2)),url(../images/stroy/stroy_bg.png) no-repeat center center / cover;
    height: auto;
    color: var(--bg-color);
}
.history .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;
}
.history h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
}
.history .year_group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5.88em;
}
.history .year_group .year {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history .year_group .year .title {
    display: flex;
    flex-direction: column;
    gap: 0.58em;
}
.history .year_group .left {    
    flex-direction: row-reverse;
}
.history .year_group .year .title h3 {
    font-family: "Riasans";
    font-size: var(--h-s);
    line-height: 1.5;
    text-align: center;
}
.history .year_group .year .artwork {
    width: 40%;
    height: 23.52rem;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.history .year_group .year .bulgo {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M89.8012 313.499L294.734 313.499C297.451 313.499 299.677 315.921 299.677 318.879C299.677 337.899 285.384 353.465 267.908 353.465L116.627 353.465C99.1515 353.465 84.8585 337.899 84.8585 318.88C84.8585 315.921 87.0838 313.499 89.8012 313.499Z' fill='%23FFAF00'/%3E%3Cpath d='M119.842 236.217H91.6898C88.9206 236.217 86.6763 234.048 86.6763 231.372V226.118C86.6763 223.442 88.9206 221.273 91.6898 221.273H119.842C122.612 221.273 124.856 223.442 124.856 226.118V231.372C124.856 234.048 122.612 236.217 119.842 236.217Z' fill='%2336671B'/%3E%3Cpath d='M118.079 235.831L89.9261 235.936C87.157 235.947 84.9046 233.786 84.8946 231.11L84.875 225.856C84.865 223.18 87.1012 221.003 89.8704 220.993L118.023 220.888C120.792 220.878 123.044 223.038 123.054 225.714L123.074 230.968C123.084 233.644 120.848 235.821 118.079 235.831Z' fill='%2336671B'/%3E%3Cpath d='M162.31 235.831L134.157 235.936C131.388 235.947 129.136 233.786 129.126 231.11L129.106 225.856C129.096 223.18 131.332 221.003 134.101 220.993L162.254 220.888C165.023 220.878 167.275 223.038 167.285 225.714L167.305 230.968C167.315 233.644 165.079 235.821 162.31 235.831Z' fill='%2336671B'/%3E%3Cpath d='M206.54 235.831L178.387 235.936C175.618 235.947 173.366 233.786 173.356 231.11L173.336 225.856C173.326 223.18 175.562 221.003 178.331 220.993L206.484 220.888C209.253 220.878 211.505 223.038 211.515 225.714L211.535 230.968C211.545 233.644 209.309 235.821 206.54 235.831Z' fill='%2336671B'/%3E%3Cpath d='M250.768 235.831L222.616 235.936C219.846 235.947 217.594 233.786 217.584 231.11L217.564 225.856C217.554 223.18 219.791 221.003 222.56 220.993L250.712 220.888C253.481 220.878 255.734 223.038 255.744 225.714L255.763 230.968C255.773 233.644 253.537 235.821 250.768 235.831Z' fill='%2336671B'/%3E%3Cpath d='M292.862 235.831L264.709 235.936C261.94 235.947 259.688 233.786 259.678 231.11L259.658 225.856C259.648 223.18 261.884 221.003 264.654 220.993L292.806 220.888C295.575 220.878 297.828 223.038 297.838 225.714L297.857 230.968C297.867 233.644 295.631 235.821 292.862 235.831Z' fill='%2336671B'/%3E%3Cellipse cx='98.0383' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='120.594' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='145.085' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='169.574' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='194.066' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='218.555' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='240.916' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='263.28' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='285.643' cy='250.901' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cpath d='M294.037 285.755L89.6159 286.517C85.3738 286.533 81.9227 283.223 81.9074 279.124L81.8876 273.813C81.8723 269.714 85.2986 266.378 89.5407 266.362L293.962 265.599C298.204 265.584 301.655 268.894 301.671 272.993L301.69 278.304C301.706 282.403 298.279 285.739 294.037 285.755Z' fill='%23AB3C00'/%3E%3Cpath d='M297.32 299.984L86.2459 300.771C83.8409 300.78 81.8842 298.903 81.8756 296.579C81.8669 294.255 83.8095 292.364 86.2145 292.355L297.288 291.567C299.693 291.558 301.65 293.435 301.659 295.759C301.667 298.083 299.725 299.975 297.32 299.984Z' fill='%23FF6200'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .bulgo_head img {
    position: absolute;
    top: 30%;
    right: 25%;
    width: 53%;
    height: auto;
    animation:Nod 2s ease-in-out infinite normal both;
    object-fit: contain;
}
/* 아구 벌렷다가 닫았다가*/
@keyframes Nod {
    0% {transform:rotate(0);}
    50% {transform:rotate(6deg);}
    60% {transform:rotate(5deg);}
    70% {transform:rotate(4deg);}
    80% {transform:rotate(3deg);}
    90% {transform:rotate(2deg);}
    100% {transform:rotate(1deg);}
}
.history .year_group .year .rice {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M97.999 175.987L302.352 160.224C305.062 160.015 307.095 157.431 306.868 154.485C305.407 135.544 289.958 121.142 272.532 122.487L121.679 134.123C104.253 135.467 91.1959 152.068 92.6569 171.009C92.8842 173.955 95.2892 176.196 97.999 175.987Z' fill='white'/%3E%3Cpath d='M303.068 281.523L98.3792 281.523C95.665 281.523 93.4424 283.942 93.4424 286.897C93.4424 305.894 107.718 321.441 125.173 321.441L276.274 321.441C293.729 321.441 308.005 305.894 308.005 286.897C308.005 283.942 305.782 281.523 303.068 281.523Z' fill='white'/%3E%3Cpath d='M273.062 204.343H301.181C303.947 204.343 306.188 202.177 306.188 199.504V194.257C306.188 191.584 303.947 189.418 301.181 189.418H273.062C270.296 189.418 268.054 191.584 268.054 194.257V199.504C268.054 202.177 270.296 204.343 273.062 204.343Z' fill='%2336671B'/%3E%3Cpath d='M274.824 203.958L302.943 204.063C305.709 204.073 307.958 201.915 307.968 199.243L307.988 193.995C307.998 191.322 305.764 189.148 302.998 189.138L274.879 189.033C272.114 189.022 269.864 191.18 269.854 193.853L269.834 199.1C269.824 201.773 272.058 203.948 274.824 203.958Z' fill='%2336671B'/%3E%3Cpath d='M230.645 203.958L258.764 204.063C261.53 204.073 263.78 201.915 263.79 199.243L263.809 193.995C263.819 191.322 261.586 189.148 258.82 189.138L230.701 189.033C227.935 189.022 225.685 191.18 225.675 193.853L225.656 199.1C225.646 201.773 227.879 203.948 230.645 203.958Z' fill='%2336671B'/%3E%3Cpath d='M186.468 203.958L214.587 204.063C217.353 204.073 219.603 201.915 219.613 199.243L219.632 193.995C219.642 191.322 217.409 189.148 214.643 189.138L186.524 189.033C183.758 189.022 181.508 191.18 181.498 193.853L181.479 199.1C181.469 201.773 183.702 203.948 186.468 203.958Z' fill='%2336671B'/%3E%3Cpath d='M142.292 203.958L170.411 204.063C173.177 204.073 175.427 201.915 175.437 199.243L175.457 193.995C175.467 191.322 173.233 189.148 170.467 189.138L142.348 189.033C139.582 189.022 137.333 191.18 137.323 193.853L137.303 199.1C137.293 201.773 139.527 203.948 142.292 203.958Z' fill='%2336671B'/%3E%3Cpath d='M100.249 203.958L128.367 204.063C131.133 204.073 133.383 201.915 133.393 199.243L133.413 193.995C133.423 191.322 131.189 189.148 128.423 189.138L100.304 189.033C97.5383 189.022 95.2887 191.18 95.2787 193.853L95.2591 199.1C95.2492 201.773 97.4827 203.948 100.249 203.958Z' fill='%2336671B'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 309.002 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 286.473 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 262.012 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 237.551 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 213.089 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 188.628 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 166.294 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 143.958 209.336)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 121.62 209.336)' fill='%2340A808'/%3E%3Cpath d='M99.0742 253.822L303.252 254.583C307.489 254.599 310.936 251.293 310.952 247.198L310.971 241.894C310.987 237.8 307.564 234.468 303.327 234.452L99.1493 233.69C94.9122 233.674 91.4652 236.981 91.4499 241.075L91.4301 246.379C91.4149 250.474 94.8371 253.806 99.0742 253.822Z' fill='%23AB3C00'/%3E%3Cpath d='M95.7957 268.033L306.618 268.82C309.02 268.829 310.975 266.954 310.983 264.633C310.992 262.312 309.052 260.422 306.65 260.413L95.827 259.627C93.4249 259.618 91.4706 261.493 91.4619 263.814C91.4533 266.135 93.3936 268.024 95.7957 268.033Z' fill='%23FF6200'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .rice::after {
    top: 2px;
    left: 10px;
    position: absolute;
    content: "";
    width: 100%;
    height: 23.52rem;
    background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M258.374 78.0005L234.744 79.8398L240.484 153.579L264.114 151.74L258.374 78.0005Z' fill='white'/%3E%3Cpath d='M215.999 81.2974L192.369 83.1367L198.109 156.876L221.739 155.037L215.999 81.2974Z' fill='white'/%3E%3Cpath d='M246.195 100.696L236.421 101.457L238.796 131.967L248.569 131.206L246.195 100.696Z' fill='black'/%3E%3Cpath d='M203.825 103.989L194.052 104.75L196.427 135.26L206.2 134.499L203.825 103.989Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center center / contain;
    animation: Jelly 2s ease infinite normal both;
}

/* 쫀득 눈알*/
@keyframes Jelly {
    0% {transform:scale3d(1, 1, 1);}
    30% {transform:scale3d(1.25, 0.75, 1);}
    40% {transform:scale3d(0.75, 1.25, 1);}
    50% {transform:scale3d(1.15, 0.85, 1);}
    65% {transform:scale3d(0.95, 1.05, 1);}
    75% {transform:scale3d(1.05, 0.95, 1);}
    100% {transform:scale3d(1, 1, 1);}
}
.history .year_group .year .mozz {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.5348 181.559L307.096 181.559C310.007 181.559 312.392 178.967 312.392 175.802C312.392 155.452 297.078 138.797 278.355 138.797L116.276 138.797C97.5526 138.797 82.2393 155.452 82.2393 175.802C82.2393 178.967 84.6234 181.559 87.5348 181.559Z' fill='%23FFAF00'/%3E%3Cpath d='M308.744 281.746L89.473 281.745C86.5655 281.745 84.1846 284.338 84.1846 287.503C84.1846 307.853 99.4776 324.508 118.176 324.508L280.04 324.508C298.739 324.508 314.032 307.853 314.032 287.503C314.032 284.338 311.651 281.746 308.744 281.746Z' fill='%23FFAF00'/%3E%3Cpath d='M276.601 217.266H306.724C309.687 217.266 312.088 214.946 312.088 212.082V206.461C312.088 203.598 309.687 201.277 306.724 201.277H276.601C273.638 201.277 271.237 203.598 271.237 206.461V212.082C271.237 214.946 273.638 217.266 276.601 217.266Z' fill='%2336671B'/%3E%3Cpath d='M278.488 216.856L308.61 216.969C311.573 216.98 313.983 214.668 313.994 211.805L314.015 206.184C314.026 203.32 311.633 200.991 308.67 200.98L278.548 200.868C275.585 200.857 273.175 203.168 273.164 206.031L273.143 211.653C273.133 214.516 275.525 216.845 278.488 216.856Z' fill='%2336671B'/%3E%3Cpath d='M231.163 216.856L261.285 216.969C264.248 216.98 266.658 214.668 266.669 211.805L266.69 206.184C266.7 203.32 264.308 200.991 261.345 200.98L231.223 200.868C228.26 200.857 225.85 203.168 225.839 206.031L225.818 211.653C225.808 214.516 228.2 216.845 231.163 216.856Z' fill='%2336671B'/%3E%3Cpath d='M183.839 216.856L213.961 216.969C216.924 216.98 219.334 214.668 219.344 211.805L219.365 206.184C219.376 203.32 216.983 200.991 214.021 200.98L183.898 200.868C180.936 200.857 178.526 203.168 178.515 206.031L178.494 211.653C178.483 214.516 180.876 216.845 183.839 216.856Z' fill='%2336671B'/%3E%3Cpath d='M136.516 216.856L166.638 216.969C169.601 216.98 172.011 214.668 172.021 211.805L172.042 206.184C172.053 203.32 169.66 200.991 166.697 200.98L136.575 200.868C133.612 200.857 131.202 203.168 131.192 206.031L131.171 211.653C131.16 214.516 133.553 216.845 136.516 216.856Z' fill='%2336671B'/%3E%3Cpath d='M91.4765 216.856L121.599 216.969C124.562 216.98 126.971 214.668 126.982 211.805L127.003 206.184C127.014 203.32 124.621 200.991 121.658 200.98L91.5362 200.868C88.5733 200.857 86.1633 203.168 86.1527 206.031L86.1317 211.653C86.121 214.516 88.5136 216.845 91.4765 216.856Z' fill='%2336671B'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 315.1 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 290.965 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 264.762 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 238.559 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 212.354 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 186.15 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 162.226 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 138.298 222.617)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 114.369 222.617)' fill='%2340A808'/%3E%3Cpath d='M90.2184 270.27L308.942 271.086C313.48 271.103 317.173 267.561 317.189 263.175L317.211 257.493C317.227 253.106 313.561 249.537 309.022 249.52L90.2989 248.704C85.76 248.687 82.0674 252.229 82.051 256.615L82.0298 262.297C82.0135 266.684 85.6795 270.253 90.2184 270.27Z' fill='%23FFAF00'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .mozz::after {
    top: 2px;
    left: 10px;
    position: absolute;
    content: "";
    width: 100%;
    height: 23.52rem;
    background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M234.598 75H209.208V154.231H234.598V75Z' fill='white'/%3E%3Cpath d='M189.067 75H163.677V154.231H189.067V75Z' fill='white'/%3E%3Cpath d='M219.703 98.2266H209.201V131.009H219.703V98.2266Z' fill='black'/%3E%3Cpath d='M174.178 98.2227H163.677V131.005H174.178V98.2227Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center center / contain;
    animation: Jelly 2s ease infinite normal both;
}
.history .year_group .year .milly {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M89.4501 193.821L305.681 193.821C308.549 193.821 310.896 191.268 310.896 188.151C310.896 168.109 295.815 151.707 277.376 151.707L117.755 151.707C99.316 151.707 84.2349 168.109 84.2349 188.151C84.2349 191.268 86.5829 193.821 89.4501 193.821Z' fill='%23FFAF00'/%3E%3Cpath d='M307.303 292.488L91.3586 292.488C88.4952 292.488 86.1504 295.041 86.1504 298.158C86.1504 318.199 101.211 334.602 119.626 334.602L279.036 334.602C297.451 334.602 312.512 318.199 312.512 298.158C312.512 295.041 310.167 292.488 307.303 292.488Z' fill='%23FFAF00'/%3E%3Cpath d='M275.648 228.985H305.314C308.232 228.985 310.597 226.699 310.597 223.879V218.343C310.597 215.524 308.232 213.238 305.314 213.238H275.648C272.73 213.238 270.366 215.524 270.366 218.343V223.879C270.366 226.699 272.73 228.985 275.648 228.985Z' fill='%2336671B'/%3E%3Cpath d='M277.507 228.577L307.172 228.687C310.09 228.698 312.463 226.422 312.474 223.602L312.495 218.066C312.505 215.246 310.149 212.952 307.231 212.941L277.566 212.831C274.648 212.82 272.274 215.096 272.264 217.916L272.243 223.452C272.233 226.272 274.589 228.566 277.507 228.577Z' fill='%2336671B'/%3E%3Cpath d='M230.899 228.577L260.565 228.687C263.483 228.698 265.856 226.422 265.867 223.602L265.887 218.066C265.898 215.246 263.541 212.952 260.623 212.941L230.958 212.831C228.04 212.82 225.667 215.096 225.656 217.916L225.636 223.452C225.625 226.272 227.981 228.566 230.899 228.577Z' fill='%2336671B'/%3E%3Cpath d='M184.293 228.577L213.958 228.687C216.876 228.698 219.25 226.422 219.26 223.602L219.281 218.066C219.291 215.246 216.935 212.952 214.017 212.941L184.352 212.831C181.434 212.82 179.06 215.096 179.05 217.916L179.029 223.452C179.019 226.272 181.375 228.566 184.293 228.577Z' fill='%2336671B'/%3E%3Cpath d='M137.688 228.577L167.353 228.687C170.271 228.698 172.644 226.422 172.655 223.602L172.675 218.066C172.686 215.246 170.329 212.952 167.411 212.941L137.746 212.831C134.828 212.82 132.455 215.096 132.444 217.916L132.424 223.452C132.413 226.272 134.77 228.566 137.688 228.577Z' fill='%2336671B'/%3E%3Cpath d='M93.3321 228.577L122.997 228.687C125.915 228.698 128.289 226.422 128.299 223.602L128.32 218.066C128.33 215.246 125.974 212.952 123.056 212.941L93.3908 212.831C90.4728 212.82 88.0994 215.096 88.0889 217.916L88.0683 223.452C88.0578 226.272 90.4141 228.566 93.3321 228.577Z' fill='%2336671B'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 313.564 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 289.796 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 263.99 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 238.185 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 212.377 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 186.571 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 163.009 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 139.444 234.254)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 115.879 234.254)' fill='%2340A808'/%3E%3Cpath d='M92.0933 281.182L307.499 281.986C311.969 282.002 315.606 278.514 315.622 274.195L315.643 268.599C315.659 264.279 312.048 260.764 307.578 260.747L92.1725 259.944C87.7024 259.927 84.0659 263.415 84.0498 267.735L84.0289 273.331C84.0128 277.65 87.6232 281.165 92.0933 281.182Z' fill='%23AB3C00'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .milly::after {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 23.52rem;
    background: url("data:image/svg+xml,%3Csvg width='400' height='400' viewBox='0 0 400 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_135_235)'%3E%3Cpath d='M111.649 144.181C111.649 100.451 147.1 65 190.831 65H205.913C249.644 65 285.094 100.451 285.094 144.181V144.181H111.649V144.181Z' fill='%2336671B'/%3E%3Cpath d='M158.153 77.5703H183.157V155.6H158.153V77.5703Z' fill='white'/%3E%3Cpath d='M202.993 77.5703H227.998V155.6H202.993V77.5703Z' fill='white'/%3E%3Cpath d='M172.822 100.445H183.164V132.73H172.822V100.445Z' fill='black'/%3E%3Cpath d='M217.656 100.441H227.998V132.726H217.656V100.441Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_135_235'%3E%3Cpath d='M111.649 144.181C111.649 100.451 147.1 65 190.831 65H205.913C249.644 65 285.094 100.451 285.094 144.181V144.181H111.649V144.181Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center center / contain;
    animation:Bounce 4s ease infinite normal both;
}

@keyframes Bounce {
  0%, 20%, 53%, 80%, 100% {transform:translate3d(0,0,0);}
  40%, 43% {transform:translate3d(0, -30px, 0)}
  70% {transform:translate3d(0, -15px, 0);} 
  90% {transform:translate3d(0,-4px,0);}
}

.recipy {
    padding: 5.88em 0;
}
.recipy .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;

}
.history .year_group .color_line {
    z-index: 2;
    position: absolute;
    top: 8.82rem;
    left: calc(50% - 146px);
    width: 300px;
    height: 1232px;
    fill: none;
}
.history .year_group .line {
    z-index: 1;
    position: absolute;
    top: 8.82rem;
    left: calc(50% - 146px);
    width: 300px;
    height: 1232px;
    fill: none;
}
/* 고정 */
.history .year_group .line path {
    stroke: var(--bg-color); /* 선색 */
    opacity: 0.1;
    stroke-width: 10px; /* 선두께 */
    stroke-linecap: round; /* 모서리 처리 - round:둥글게, butt:네모나게, square:네모나게 연장 */
}
/* 움직이는거 */
.history .year_group .color_line path {
    stroke: var(--primary-color); /* 선색 */
    stroke-width: 10px; /* 선두께 */
    stroke-linecap: round; /* 모서리 처리 - round:둥글게, butt:네모나게, square:네모나게 연장 */
    stroke-dasharray: 1000; /* 선의 총길이 인데 애니메이션을 주기 전에 어느정도인지 값을 줘봐야함 */
    stroke-dashoffset: 0; /* 무조건 0 */
}
.recipy {
    position: relative;
}
.recipy .hambergur {
    z-index: -1;
    position: absolute;
    width: 6%;
    height: auto;
    bottom: 0;
    left: 0;
}
.recipy .photato {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6%;
    height: auto;
}

.recipy h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
    color: var(--primary-color);
}
.recipy .recipy_group {
    display: flex;
    width: 100%;
    gap: 1.41em;
    color: var(--bg-color);
}
.recipy .recipy_group .right {
    width: 130%;
    height: 32.94rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.5)),url(../images/recipy/recipy_01.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}
/* 공동으로 타이틀안에 영역 값을 줌*/
.recipy .recipy_group .right, .top, .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.35em;
    gap: 1.41em;

}
.recipy .recipy_group .right_group, .top_group, .bottom_group {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.recipy .recipy_group .right_group h3 {
    font-family: "Riasans";
    font-size: var(--title-XXL);
    line-height: 1.5;
}
.recipy .recipy_group .top_group h3, .bottom_group h3  {
    font-family: "Riasans";
    font-size: var(--title-L);
    line-height: 1.5;
}
/*디폴트 호버*/
.recipy .recipy_group .top_group p, .bottom_group p {
    max-width: 30.76rem;
    display: none;
    opacity: 0;
    animation: fade-in 0.4s;
    animation-fill-mode: forwards;
}
.recipy .recipy_group .top:hover .top_group p {
    display: flex;
}
.recipy .recipy_group .bottom:hover .bottom_group p {
    display: flex;
}
/**************************/
.recipy .recipy_group .more a {
    display: inline-block;
    padding: 0.52em 1.05em;
    font-size: var(--body-m);
    font-weight: 700;
    border: 1px solid var(--bg-color);
    border-radius: 5.26em;
    background-color: rgba(29, 29, 29, 0.4);
}
.recipy .recipy_group .more a:hover {
    color: var(--bg-color);
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
}
.recipy .recipy_group .left_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.41em;
}
.recipy .recipy_group .left_group .top {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.5)),url(../images/recipy/recipy_02.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}
.recipy .recipy_group .left_group .bottom {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.5)),url(../images/recipy/recipy_03.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}

@media screen and (max-width:1229px){
    .stroy .wrapper::before {
        width: 14%;
        bottom: -7.58rem;
        right: 7.52rem;
    }
    .stroy .wrapper::after {
        width: 14%;
        bottom: -7.58rem;
        left: 7.52rem;
    }
}
@media screen and (max-width:1143px){
    .history .year_group {
        gap: 1em;
    }
    .history .year_group .color_line {
        display: none;
    }
    .history .year_group .line {
        display: none;
    }
    .year_group svg path {
        display: none;
    }
    .history .year_group {
                padding: 0;
    }
    .history .year_group .year{
        flex-direction: column;
    }
    .history .year_group .year .title p {
        text-align: center;
    }
}
@media screen and (max-width:1078px){
    .visual .wrapper {
        flex-direction: column;
        height: auto;
        gap: 4.2em;
    }
    .visual h2::after {
        display: none;
    }
    .visual h2 {
        text-align: center;
    }
    .visual .wrapper .inner {
        left: 8%;
    }
    .visual .buguer {
        width: 80%;
        object-fit: contain;
    }
    .visual .wrapper .chizz {
        width: 80%;
        top: 18%;
        object-fit: contain;
        left: calc(50% - 100px);
    }
    .visual .photato {
        width: 18%;
        left: calc(50% - 107px);
        bottom: 84%;
    }
    .visual .flash {
        width: 32%;
        bottom: 87%;
        left: calc(50% - 143px);
    }  
}
@media screen and (max-width:721px){
    .stroy .stroy_bg {
        top: 4%;
        right: -26%;
    }
    .stroy .fun_bg {
        top: 10%;
        left: -18%;
    }
}
@media screen and (max-width:640px){
    .recipy .recipy_group .right_group p {
        display: none;
    }
    .core_value ul li .artwork {
        height: 12.47rem;
    }
    .visual {
        height: auto;
        padding: 7.93em  0 3.33em 0;
    }
    .visual h2 {
        font-size: var(--visual-m);
    }
    .new_item .swiper ul li .new_item_title h3 {
        font-size: var(--title-L);
    }
    .recipy .recipy_group .right_group h3 {
        font-size: var(--title-L);
    }
    .history .year_group .year .title h3 {
        font-size: var(--title-L);
    }
    .new_item {
        padding: 3.3em 0;
    }
    .stroy {
        padding: 3.3em 0;
    }
    .core_value {
        padding: 3.3em 0;
    }
    .history {
        padding: 3.3em 0;
    }
    .recipy {
        padding: 3.3em 0;
    }
    .stroy .fun_bg, .stroy_bg {
        font-size: 5rem;
    }
    .core_value ul {
        flex-direction: column;
    }
    .core_value ul .Friendly {
        padding-bottom: 0;
    }
    .core_value ul .Suitable .title, .Various .title, .Enjoyable .title  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.58em;
        margin-bottom: 0;
    }
    .core_value ul li .a {
        box-shadow: 4px 9px 28px 0px rgba(0, 0, 0, 0.08);
    }
    .core_value ul li .c {
        box-shadow: 4px 9px 28px 0px rgba(0, 0, 0, 0.08);
    }
    .core_value ul li .d {
        box-shadow: 4px 9px 28px 0px rgba(0, 0, 0, 0.08);
    }
    .history .year_group .year .bulgo_head img {
        top: 34%;
    }
    .recipy .recipy_group .right, .top, .bottom {
        padding: 1.33em;
    }
}
@media screen and (max-width:460px){
    .visual .flash {
        left: calc(50% - 105px);
    }
    .visual .photato {
        bottom: 84%;
        left: calc(50% - 80px);
    }
    .visual .wrapper {
        height: auto;
        gap: 24px;
    }
    .history .year_group .year .artwork {
        height: 17.52rem;
    }
    .history .year_group .year .rice::after {
        height: 17.52rem;
    }
    .history .year_group .year .mozz::after {
        height: 17.52rem;
    }
    .history .year_group .year .milly::after {
        height: 17.52rem;
    }
}
@media screen and (max-width:360px){
    .core_value ul li .artwork {
        height: 8.47rem;
    }
    .visual .wrapper .chizz {
        top: 17%;
        left: calc(50% - 88px);
    }
    .visual {
        height: auto;
        padding: 6.93em 0 3.33em 0;
    }
    .visual h2 {
        font-size: var(--visual-s);
    }
    .stroy .fun_bg, .stroy_bg {
        display: none;
    }
    .new_item {
        padding: 1.6em 0;
    }
    .stroy {
        padding: 1.6em 0;
    }
    .core_value {
        padding: 1.6em 0;
    }
    .history {
        padding: 1.6em 0;
    }
    .recipy {
        padding: 1.6em 0;
    }
    .stroy::before {
        display: none;
    }
    .visual .flash {
        left: calc(50% - 82px);
        bottom: 94%;
    }
    .visual .photato {
        bottom: 85%;
        left: calc(50% - 61px);
    }
    .new_item {
        padding: 1.6em 0;
    }
    .recipy .recipy_group {
        flex-direction: column;
    }
    .recipy .recipy_group .right {
        width: auto;
        height: auto;
    }
    .recipy .recipy_group .right_group h3 {
        text-align: center;
    }
    .recipy .recipy_group .top_group h3, .bottom_group h3 {
        text-align: center;
    }
    .recipy .recipy_group .more a {
        display: flex;
        justify-content: center;
    }
    .recipy .recipy_group .top:hover .top_group p {
        display: none;
    }
    .recipy .recipy_group .bottom:hover .bottom_group p {
        display: none;
    }
}