@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

/* 치즈스틱 밖으로 빼려면 바디로 기준으로 잡아야함 안그러면 섹션밖으로 못나감*/
body {
    position: relative;
}
body::before {
    z-index: 100;
    position: absolute;
    content: "";
    top: 21.23rem;
    right: 50%;
    left:  calc(50% + 277px);
    width: 28.7rem;
    height: 25.88rem;
    background: url(../images/visual/visual_stick.png) no-repeat center center / contain;
}
/**************************************************************************/
.visual {
    height: 40.58em;
    padding: 4.70em 0 0 0;
    background-color: var(--bg-color-3);
}
.visual .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.visual h2 {
    position: relative;
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
    color: var(--bg-color);
}
.visual h2::after {
    position: absolute;
    content: "";
    width: 13.88rem;
    height: 4.70rem;
    top: -1.5em;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='237' height='82' viewBox='0 0 237 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M93.6047 23.7177C81.2064 32.5963 61.6092 35.4593 53.3604 35.781C53.3604 44.949 57.0098 63.2852 71.6078 63.2852C89.8552 63.2852 101.104 52.187 128.85 35.781C151.047 22.6561 182.759 41.2496 195.84 52.187C199.006 43.5819 205.139 26.227 204.339 25.6479C203.339 24.9242 179.093 15.2735 160.095 11.8958C141.098 8.51807 109.102 12.6196 93.6047 23.7177Z' fill='%23F5F5F5'/%3E%3Cpath d='M3.50727 56.8168C1.57026 47.9585 7.18112 39.2071 16.0395 37.2701L67.5674 26.0027L76.5413 67.042L25.0134 78.3094C16.155 80.2464 7.4036 74.6355 5.46659 65.7772L3.50727 56.8168Z' fill='%23FF9500'/%3E%3Cpath d='M225.899 59.8613C222.248 68.1618 212.56 71.9314 204.26 68.281L147.804 43.453L164.716 4.99839L221.171 29.8265C229.472 33.4768 233.241 43.1649 229.591 51.4653L225.899 59.8613Z' fill='%23FF9500'/%3E%3Cpath d='M214.933 -0.00101795L203.143 0.0429688L203.28 36.836L215.07 36.792L214.933 -0.00101795Z' fill='white'/%3E%3Cpath d='M193.79 0.077107L182 0.121094L182.137 36.9141L193.928 36.8701L193.79 0.077107Z' fill='white'/%3E%3Cpath d='M208.059 10.8099L203.183 10.8281L203.239 26.0513L208.116 26.0331L208.059 10.8099Z' fill='black'/%3E%3Cpath d='M186.917 10.8842L182.04 10.9023L182.097 26.1255L186.973 26.1074L186.917 10.8842Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .photo {
    position: relative;
    width: 32.94rem;
    height: 26.35rem;
    top: 4.11rem;
    font-size: 0;
    line-height: 0;
}
.visual .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .photo::after {
    z-index: 100;
    position: absolute;
    content: "";
    width: 13.11rem;
    height: 10.76rem;
    bottom: 22.05rem;
    left: 9.8rem;
    background-image: url("data:image/svg+xml,%3Csvg width='224' height='184' viewBox='0 0 224 184' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M75.1754 0H50.5093V142.48H75.1754V0Z' fill='%23FFAF00'/%3E%3Cpath d='M107.166 30.9258H82.4995V142.48H107.166V30.9258Z' fill='%23FFAF00'/%3E%3Cpath d='M137.52 0H112.854V142.48H137.52V0Z' fill='%23FFAF00'/%3E%3Cpath d='M172.003 18.0391H147.337V142.479H172.003V18.0391Z' fill='%23FFAF00'/%3E%3Cpath d='M172.007 183.098H49.7335L37.8306 102.102H185.546L172.007 183.098Z' fill='%23F00028'/%3E%3Cpath d='M104.548 109.803L89.5249 109.859L89.6998 156.742L104.723 156.686L104.548 109.803Z' fill='white'/%3E%3Cpath d='M77.608 109.905L62.5845 109.961L62.7594 156.844L77.7829 156.787L77.608 109.905Z' fill='white'/%3E%3Cpath d='M95.7896 123.578L89.5757 123.602L89.6481 142.999L95.862 142.976L95.7896 123.578Z' fill='black'/%3E%3Cpath d='M68.8497 123.676L62.6357 123.699L62.7081 143.097L68.9221 143.074L68.8497 123.676Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .photo::before {
    z-index: 100;
    position: absolute;
    content: "";
    width: 13.11rem;
    height: 10.76rem;
    bottom: 23.05rem;
    left: 9.8rem;
    background-image: url("data:image/svg+xml,%3Csvg width='249' height='166' viewBox='0 0 249 166' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M215.616 44.2606L228.715 33.6758L230.943 36.4334L217.844 47.0183L215.616 44.2606Z' fill='%23FFAF00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M185 15.1421L192.371 0L195.559 1.5518L188.188 16.6939L185 15.1421Z' fill='%23FFAF00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1214 53.6674L2.38672 43.9219L4.43842 41.0304L18.1731 50.7759L16.1214 53.6674Z' fill='%23FFAF00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.1989 153.769L13.04 165.422L10.5869 162.862L22.7457 151.21L25.1989 153.769Z' fill='%23FFAF00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M231.306 94.001L248.084 95.4531L247.778 98.9854L231 97.5332L231.306 94.001Z' fill='%23FFAF00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.000298572 101.245L15.2031 94L16.7284 97.2006L1.52557 104.446L0.000298572 101.245Z' fill='%23FFAF00'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.new_item {
    padding: 5.88em 0;
}
.new_item h2 {
    display: none;
}
.new_item .swiper ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.41em;
}
.new_item .swiper ul li .photo {
    width: 23.52rem;
    height: 17.64rem;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.new_item .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new_item .swiper ul li .new_item_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.58em;
}
.new_item .swiper ul li .new_item_title h3 {
    font-family: "Riasans";
    font-size: var( --title-XL);
    line-height: 1.5;
    color: var(--primary-color);
}
.new_item .swiper ul li .new_item_title p {
    max-width: 515px;
    text-align: center;
}

.new_item .prev, .next {
    z-index: 4;
    width: 3.76rem;
    height: 3.76rem;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.new_item .prev {
    position: absolute;
    top: 6.94rem;
    left: 19.82rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5017 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
}
.new_item .prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5018 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23BD001F'/%3E%3C/svg%3E%0A");
}
.new_item .next {
    position: absolute;
    top: 6.94rem;
    right: 19.82rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5017 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23C6C6C6'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1);
}
.new_item .next:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1335 32.0008L34.6669 41.5341L35.9335 40.2008L27.7335 32.0008L35.9335 23.8008L34.6669 22.4674L25.1335 32.0008ZM8.8002 32.0121C8.8002 28.8046 9.40886 25.7883 10.6262 22.9634C11.8435 20.1386 13.4958 17.6814 15.5829 15.5921C17.67 13.5023 20.124 11.8481 22.9449 10.6294C25.7662 9.41033 28.7809 8.80078 31.9889 8.80078C35.1964 8.80078 38.2126 9.40945 41.0375 10.6268C43.8624 11.8441 46.3195 13.4963 48.4089 15.5834C50.4986 17.6706 52.1529 20.1246 53.3715 22.9454C54.5906 25.7668 55.2002 28.7814 55.2002 31.9894C55.2002 35.197 54.5915 38.2132 53.3742 41.0381C52.1569 43.863 50.5046 46.3201 48.4175 48.4094C46.3304 50.4992 43.8764 52.1534 41.0555 53.3721C38.2342 54.5912 35.2195 55.2008 32.0115 55.2008C28.804 55.2008 25.7878 54.5921 22.9629 53.3748C20.138 52.1574 17.6809 50.5052 15.5915 48.4181C13.5018 46.331 11.8475 43.877 10.6289 41.0561C9.40975 38.2348 8.8002 35.2201 8.8002 32.0121Z' fill='%23BD001F'/%3E%3C/svg%3E%0A");
}
/* 페이지 네이션 건드는곳 */
.new_item .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -1.41rem;
}
.new_item .swiper-pagination-bullet {
    width: 0.58rem;
    height: 0.58rem;
    font-size: 0;
    line-height: 0;
}
.new_item .swiper-pagination-bullet-active {
    width: 1.17rem !important;
    height: 1.17rem !important;
    background-color: rgb(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33317 17.5C2.87484 17.5 2.48248 17.3368 2.15609 17.0104C1.8297 16.684 1.6665 16.2917 1.6665 15.8333V13.3333H18.3332V15.8333C18.3332 16.2917 18.17 16.684 17.8436 17.0104C17.5172 17.3368 17.1248 17.5 16.6665 17.5H3.33317ZM9.99984 11.25C9.49984 11.25 9.104 11.3889 8.81234 11.6667C8.52067 11.9444 7.98595 12.0833 7.20817 12.0833C6.43039 12.0833 5.90261 11.9444 5.62484 11.6667C5.34706 11.3889 4.95817 11.25 4.45817 11.25C3.95817 11.25 3.56234 11.3889 3.27067 11.6667C2.979 11.9444 2.44428 12.0833 1.6665 12.0833V10.4167C2.1665 10.4167 2.56234 10.2778 2.854 10C3.14567 9.72222 3.68039 9.58333 4.45817 9.58333C5.23595 9.58333 5.76373 9.72222 6.0415 10C6.31928 10.2778 6.70817 10.4167 7.20817 10.4167C7.70817 10.4167 8.104 10.2778 8.39567 10C8.68734 9.72222 9.22206 9.58333 9.99984 9.58333C10.7776 9.58333 11.3123 9.72222 11.604 10C11.8957 10.2778 12.2915 10.4167 12.7915 10.4167C13.2915 10.4167 13.6804 10.2778 13.9582 10C14.2359 9.72222 14.7637 9.58333 15.5415 9.58333C16.3193 9.58333 16.8679 9.72222 17.1873 10C17.5068 10.2778 17.8887 10.4167 18.3332 10.4167V12.0833C17.5554 12.0833 17.0346 11.9444 16.7707 11.6667C16.5068 11.3889 16.1248 11.25 15.6248 11.25C15.1248 11.25 14.7221 11.3889 14.4165 11.6667C14.1109 11.9444 13.5693 12.0833 12.7915 12.0833C12.0137 12.0833 11.479 11.9444 11.1873 11.6667C10.8957 11.3889 10.4998 11.25 9.99984 11.25ZM1.6665 8.33333V7.5C1.6665 5.90278 2.41998 4.67014 3.92692 3.80208C5.43386 2.93403 7.45817 2.5 9.99984 2.5C12.5415 2.5 14.5658 2.93403 16.0728 3.80208C17.5797 4.67014 18.3332 5.90278 18.3332 7.5V8.33333H1.6665Z' fill='%23F00028'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/**************************************************/

.stroy {
    position: relative;
    overflow: hidden;
    padding: 5.88em 0;
    background-color: var(--bg-color-3);
}
.stroy::after {
    position: absolute;
    content: "";
    bottom: 1.94rem;
    left: -8.52rem;
    width: 25.05rem;
    height: 21.52rem;
    background-image: url("data:image/svg+xml,%3Csvg width='427' height='368' viewBox='0 0 427 368' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M390.061 155.052C337.535 203.863 258.888 243.777 156.291 273.669C80.9607 295.612 21.2062 303.599 18.7015 303.931L11.4489 248.969C13.7343 248.666 241.317 217.579 352.283 114.453L390.072 155.054L390.061 155.052Z' fill='%23FFAF00'/%3E%3Cpath d='M364.993 97.7806C365.987 87.6032 370.599 75.9401 378.703 63.1158C384.654 53.6979 390.259 47.2452 390.496 46.9742L396.441 52.2197C396.226 52.4663 374.935 77.1173 372.834 98.6187L364.992 97.7792L364.993 97.7806Z' fill='%23FFAF00'/%3E%3Cpath d='M368.797 194.901C375.577 194.339 383.761 195.968 393.122 199.744C399.996 202.517 404.888 205.417 405.094 205.539L402.369 210.056C402.182 209.945 383.508 198.947 369.183 200.134L368.797 194.9L368.797 194.901Z' fill='%23FFAF00'/%3E%3Cpath d='M328.949 115.338L310.294 113.027L303.082 171.242L321.737 173.553L328.949 115.338Z' fill='white'/%3E%3Cpath d='M295.496 111.202L276.841 108.891L269.629 167.106L288.284 169.417L295.496 111.202Z' fill='white'/%3E%3Cpath d='M315.895 131.046L308.179 130.09L305.195 154.176L312.911 155.132L315.895 131.046Z' fill='black'/%3E%3Cpath d='M282.444 126.893L274.729 125.938L271.744 150.024L279.46 150.98L282.444 126.893Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy::before {
    z-index: 1;
    position: absolute;
    content: "";
    bottom: 1.94rem;
    right: -8.52rem;
    width: 25.05rem;
    height: 21.52rem;
    background-image: url("data:image/svg+xml,%3Csvg width='223' height='323' viewBox='0 0 223 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.7771 108.742C83.7358 167.539 149.725 223.856 240.928 276.118C307.894 314.487 363.187 335.916 365.505 336.812L385.126 285.931C383.011 285.114 172.572 202.862 90.2703 78.6413L44.7662 108.742L44.7771 108.742Z' fill='%23FFAF00'/%3E%3Cpath d='M81.9675 59.7663C83.3652 49.8052 81.6472 37.5886 76.8585 23.4557C73.3419 13.0769 69.4716 5.61315 69.3079 5.29939L62.4126 8.94292C62.5609 9.22826 77.2295 37.7134 74.2758 58.7579L81.9686 59.7652L81.9675 59.7663Z' fill='%23FFAF00'/%3E%3Cpath d='M55.9156 151.753C49.5617 149.651 41.3602 149.319 31.5382 150.769C24.3252 151.834 18.9782 153.478 18.7533 153.547L20.3164 158.495C20.5209 158.432 40.9153 152.226 54.3386 156.668L55.915 151.752L55.9156 151.753Z' fill='%23FFAF00'/%3E%3Cpath d='M93.8119 78.4667L112.183 80.5625L105.643 137.892L87.2717 135.796L93.8119 78.4667Z' fill='white'/%3E%3Cpath d='M126.755 82.2284L145.126 84.3242L138.586 141.653L120.215 139.558L126.755 82.2284Z' fill='white'/%3E%3Cpath d='M102.668 96.4964L110.266 97.3633L107.56 121.083L99.9615 120.217L102.668 96.4964Z' fill='black'/%3E%3Cpath d='M135.611 100.246L143.209 101.113L140.503 124.833L132.905 123.967L135.611 100.246Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.58em;
    color: var(--bg-color);
}
.stroy .wrapper::after {
    position: absolute;
    content: "";
    bottom: -6.58rem;
    left: 6.52rem;
    width: 11.58rem;
    height: 15.11rem;
    background-image: url("data:image/svg+xml,%3Csvg width='198' height='258' viewBox='0 0 198 258' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3593 138.562L164.295 41.3364C166.177 40.0472 166.571 37.3158 165.169 35.2696C156.158 22.1144 138.883 18.1286 126.78 26.4196L22.0032 98.191C9.89951 106.482 7.37533 124.03 16.3866 137.185C17.7883 139.231 20.4773 139.851 22.3593 138.562Z' fill='%23FFAF00'/%3E%3Cpath d='M190.482 224.297L18.6673 224.297C16.3891 224.297 14.5234 226.328 14.5234 228.809C14.5234 244.754 26.5066 257.805 41.1583 257.805L167.991 257.805C182.643 257.805 194.626 244.754 194.626 228.809C194.626 226.328 192.76 224.297 190.482 224.297Z' fill='%23FFAF00'/%3E%3Cpath d='M165.296 159.517H188.899C191.22 159.517 193.102 157.698 193.102 155.455V151.05C193.102 148.807 191.22 146.988 188.899 146.988H165.296C162.974 146.988 161.092 148.807 161.092 151.05V155.455C161.092 157.698 162.974 159.517 165.296 159.517Z' fill='%2336671B'/%3E%3Cpath d='M166.775 159.194L190.377 159.282C192.699 159.291 194.587 157.48 194.596 155.236L194.612 150.831C194.621 148.588 192.746 146.763 190.424 146.754L166.821 146.666C164.5 146.657 162.611 148.468 162.603 150.712L162.587 155.117C162.578 157.36 164.453 159.185 166.775 159.194Z' fill='%2336671B'/%3E%3Cpath d='M129.692 159.194L153.294 159.282C155.616 159.291 157.504 157.48 157.513 155.236L157.529 150.831C157.538 148.588 155.663 146.763 153.341 146.754L129.738 146.666C127.417 146.657 125.528 148.468 125.52 150.712L125.503 155.117C125.495 157.36 127.37 159.185 129.692 159.194Z' fill='%2336671B'/%3E%3Cpath d='M92.61 159.194L116.213 159.282C118.535 159.291 120.423 157.48 120.431 155.236L120.448 150.831C120.456 148.588 118.581 146.763 116.26 146.754L92.6568 146.666C90.3351 146.657 88.4468 148.468 88.4384 150.712L88.422 155.117C88.4136 157.36 90.2884 159.185 92.61 159.194Z' fill='%2336671B'/%3E%3Cpath d='M55.528 159.194L79.1309 159.282C81.4525 159.291 83.3409 157.48 83.3493 155.236L83.3657 150.831C83.3741 148.588 81.4993 146.763 79.1776 146.754L55.5747 146.666C53.2531 146.657 51.3647 148.468 51.3564 150.712L51.3399 155.117C51.3316 157.36 53.2063 159.185 55.528 159.194Z' fill='%2336671B'/%3E%3Cpath d='M20.237 159.194L43.8398 159.282C46.1615 159.291 48.0499 157.48 48.0583 155.236L48.0747 150.831C48.0831 148.588 46.2083 146.763 43.8866 146.754L20.2837 146.666C17.9621 146.657 16.0737 148.468 16.0653 150.712L16.0489 155.117C16.0405 157.36 17.9153 159.185 20.237 159.194Z' fill='%2336671B'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 195.463 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 176.552 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 156.02 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 135.487 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 114.954 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 94.4229 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 75.6748 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 56.9268 163.707)' fill='%2340A808'/%3E%3Cellipse cx='11.8872' cy='8.11757' rx='11.8872' ry='8.11757' transform='matrix(-1 0 0 1 38.1758 163.707)' fill='%2340A808'/%3E%3Cpath d='M19.2518 201.047L190.638 201.687C194.194 201.7 197.087 198.925 197.1 195.488L197.117 191.035C197.13 187.598 194.257 184.802 190.701 184.788L19.3149 184.149C15.7583 184.136 12.8649 186.911 12.8521 190.348L12.8355 194.8C12.8227 198.237 15.6953 201.034 19.2518 201.047Z' fill='%23AB3C00'/%3E%3Cpath d='M16.4999 212.976L193.463 213.636C195.479 213.644 197.12 212.07 197.127 210.122C197.134 208.173 195.506 206.588 193.489 206.58L16.5262 205.92C14.5099 205.912 12.8694 207.486 12.8621 209.434C12.8549 211.383 14.4836 212.969 16.4999 212.976Z' fill='%23FF6200'/%3E%3Cpath d='M97.8176 0.0268201L81.4121 11.2812L116.533 62.4762L132.938 51.2218L97.8176 0.0268201Z' fill='white'/%3E%3Cpath d='M68.3986 20.2104L51.9932 31.4648L87.1138 82.6598L103.519 71.4054L68.3986 20.2104Z' fill='white'/%3E%3Cpath d='M98.4896 21.638L91.7041 26.293L106.235 47.475L113.021 42.82L98.4896 21.638Z' fill='black'/%3E%3Cpath d='M69.0717 41.8138L62.2861 46.4688L76.8174 67.6508L83.6029 62.9958L69.0717 41.8138Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy .wrapper::before {
    position: absolute;
    content: "";
    bottom: -6.58rem;
    right: 6.52rem;
    width: 11.58rem;
    height: 15.11rem;
    background-image: url("data:image/svg+xml,%3Csvg width='187' height='233' viewBox='0 0 187 233' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.2767 0.230469H16.0508V180.603H47.2767V0.230469Z' fill='%23FFAF00'/%3E%3Cpath d='M87.7748 39.3867H56.5488V180.608H87.7748V39.3867Z' fill='%23FFAF00'/%3E%3Cpath d='M126.201 0.230469H94.9746V180.603H126.201V0.230469Z' fill='%23FFAF00'/%3E%3Cpath d='M169.856 23.0664H138.63V180.601H169.856V23.0664Z' fill='%23FFAF00'/%3E%3Cpath d='M169.86 232.025H15.0685L0 129.488H187L169.86 232.025Z' fill='%23F00028'/%3E%3Cpath d='M84.4614 139.238L65.4424 139.309L65.6638 198.659L84.6828 198.588L84.4614 139.238Z' fill='white'/%3E%3Cpath d='M50.3549 139.363L31.3359 139.434L31.5574 198.784L50.5764 198.713L50.3549 139.363Z' fill='white'/%3E%3Cpath d='M73.3714 156.674L65.5049 156.703L65.5965 181.26L73.463 181.23L73.3714 156.674Z' fill='black'/%3E%3Cpath d='M39.2679 156.799L31.4014 156.828L31.493 181.385L39.3595 181.355L39.2679 156.799Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.stroy h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
}
.stroy .fun_bg, .stroy_bg{
    position: absolute;
    font-family: "Riasans";
    font-size: 12rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.1);
}
.stroy .fun_bg {
    top: 0;
    left: -0.56rem;
}
.stroy .stroy_bg {
    top: 0.23em;
    right: -0.62em;
}
.stroy p {
    max-width: 31.41em;
    text-align: center;
}
.stroy p span {
    font-size: var(--body-L);
    font-weight: 700;
}
.stroy .more a {
    display: flex;
    padding: 0.52em 1.05em;
    font-size: var(--body-L);
    font-weight: 700;
    border-radius: 5.26rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
}
.stroy .more a:hover {
    color: var(--bg-color);
    background-color: var(--hover-color);
}

.core_value {
    padding: 5.88em 0;
}
.core_value h2 {
    font-family: "Riasans";
    font-size: var(--h-s);
    line-height: 1.5;
    color: var(--primary-color);
}
.core_value .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;
}
.core_value .core_value_group {
    display: flex;
    gap: 1.41em;
}
.core_value .core_value_group .inner {
    display: flex;
    flex-direction: column;
    gap: 1.41em;
}
.core_value .core_value_group .active {
    padding-bottom: 40px;
}
.core_value .core_value_group .artwork {
    width: 17.47rem;
    height: 17.47rem;
    font-size: 0;
    line-height: 0;
    border-radius: 2.35rem;
}
.core_value .core_value_group .a {
    background: url(../images/corevalue/core_value_01.svg);
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}
.core_value .core_value_group .b {
    background: url(../images/corevalue/core_value_02.svg);
    box-shadow: 4px 9px 28px 0px rgba(0, 0, 0, 0.08);
}
.core_value .core_value_group .c {
    background: url(../images/corevalue/core_value_04.svg);
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}
.core_value .core_value_group .d {
    background: url(../images/corevalue/core_value_03.svg);
    box-shadow: 7px -7px 22px 0px rgba(0, 0, 0, 0.1) inset;
}

/* hover 되면 flex*/
.core_value .core_value_group .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.58em;
}
.core_value .core_value_group .title h3 {
    font-family: "Riasans";
    font-size: var(--title-m);
    line-height: 1.5;
    color: var(--title-color);
}

.history {
    padding: 5.88em 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.2)),url(../images/stroy/stroy_bg.png) no-repeat center center / cover;
    height: auto;
    color: var(--bg-color);
}
.history .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;
}
.history h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
}
.history .year_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5.88em;
}
.history .year_group .year {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history .year_group .left {    
    flex-direction: row-reverse;
}
.history .year_group .year .title h3 {
    font-family: "Riasans";
    font-size: var(--h-s);
    line-height: 1.5;
}
.history .year_group .year .artwork {
    width: 23.52rem;
    height: 23.52rem;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.history .year_group .year .bulgo {
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='401' viewBox='0 0 400 401' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M290.331 211.993L121.036 96.0271C118.791 94.4894 118.322 91.2315 119.994 88.7909C130.742 73.0999 151.346 68.3459 165.783 78.235L290.756 163.841C305.192 173.73 308.203 194.66 297.455 210.351C295.783 212.792 292.576 213.531 290.331 211.993Z' fill='%23FFAF00'/%3E%3Cpath d='M89.8007 314.253L294.734 314.253C297.451 314.253 299.676 316.675 299.676 319.633C299.676 338.653 285.383 354.219 267.907 354.219L116.627 354.219C99.1511 354.219 84.858 338.653 84.858 319.633C84.858 316.675 87.0833 314.253 89.8007 314.253Z' fill='%23FFAF00'/%3E%3Cpath d='M119.842 236.971H91.6898C88.9206 236.971 86.6763 234.802 86.6763 232.126V226.872C86.6763 224.196 88.9206 222.027 91.6898 222.027H119.842C122.612 222.027 124.856 224.196 124.856 226.872V232.126C124.856 234.802 122.612 236.971 119.842 236.971Z' fill='%2336671B'/%3E%3Cpath d='M118.079 236.585L89.9261 236.69C87.157 236.7 84.9046 234.54 84.8946 231.864L84.875 226.61C84.865 223.934 87.1012 221.757 89.8704 221.747L118.023 221.642C120.792 221.632 123.044 223.792 123.054 226.468L123.074 231.722C123.084 234.398 120.848 236.575 118.079 236.585Z' fill='%2336671B'/%3E%3Cpath d='M162.31 236.585L134.157 236.69C131.388 236.7 129.136 234.54 129.126 231.864L129.106 226.61C129.096 223.934 131.332 221.757 134.101 221.747L162.254 221.642C165.023 221.632 167.275 223.792 167.285 226.468L167.305 231.722C167.315 234.398 165.079 236.575 162.31 236.585Z' fill='%2336671B'/%3E%3Cpath d='M206.54 236.585L178.387 236.69C175.618 236.7 173.366 234.54 173.356 231.864L173.336 226.61C173.326 223.934 175.562 221.757 178.331 221.747L206.484 221.642C209.253 221.632 211.505 223.792 211.515 226.468L211.535 231.722C211.545 234.398 209.309 236.575 206.54 236.585Z' fill='%2336671B'/%3E%3Cpath d='M250.768 236.585L222.616 236.69C219.846 236.7 217.594 234.54 217.584 231.864L217.564 226.61C217.554 223.934 219.791 221.757 222.56 221.747L250.712 221.642C253.481 221.632 255.734 223.792 255.744 226.468L255.763 231.722C255.773 234.398 253.537 236.575 250.768 236.585Z' fill='%2336671B'/%3E%3Cpath d='M292.862 236.585L264.709 236.69C261.94 236.7 259.688 234.54 259.678 231.864L259.658 226.61C259.648 223.934 261.884 221.757 264.654 221.747L292.806 221.642C295.575 221.632 297.828 223.792 297.838 226.468L297.857 231.722C297.867 234.398 295.631 236.575 292.862 236.585Z' fill='%2336671B'/%3E%3Cellipse cx='98.0383' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='120.594' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='145.085' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='169.574' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='194.066' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='218.555' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='240.916' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='263.28' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cellipse cx='285.643' cy='251.655' rx='14.1785' ry='9.68229' fill='%2340A808'/%3E%3Cpath d='M294.037 286.509L89.6159 287.271C85.3738 287.287 81.9227 283.977 81.9074 279.878L81.8876 274.567C81.8723 270.468 85.2986 267.132 89.5407 267.116L293.962 266.353C298.204 266.337 301.655 269.648 301.671 273.747L301.69 279.058C301.706 283.157 298.279 286.493 294.037 286.509Z' fill='%23AB3C00'/%3E%3Cpath d='M297.32 300.738L86.2459 301.525C83.8409 301.534 81.8842 299.657 81.8756 297.333C81.8669 295.009 83.8095 293.118 86.2145 293.109L297.288 292.321C299.693 292.312 301.65 294.189 301.659 296.513C301.667 298.837 299.725 300.729 297.32 300.738Z' fill='%23FF6200'/%3E%3Cpath d='M200.327 46.752L219.895 60.1758L178.004 121.239L158.436 107.815L200.327 46.752Z' fill='white'/%3E%3Cpath d='M235.416 70.8262L254.984 84.25L213.094 145.313L193.526 131.889L235.416 70.8262Z' fill='white'/%3E%3Cpath d='M199.525 72.5298L207.619 78.082L190.286 103.347L182.193 97.7948L199.525 72.5298Z' fill='black'/%3E%3Cpath d='M234.614 96.5962L242.707 102.148L225.375 127.413L217.281 121.861L234.614 96.5962Z' fill='black'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .rice {
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='401' viewBox='0 0 400 401' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M97.999 176.717L302.352 160.954C305.062 160.745 307.095 158.161 306.868 155.215C305.407 136.275 289.958 121.873 272.532 123.217L121.679 134.854C104.253 136.198 91.1959 152.799 92.6569 171.739C92.8842 174.685 95.2892 176.926 97.999 176.717Z' fill='white'/%3E%3Cpath d='M303.068 282.253L98.3792 282.253C95.665 282.253 93.4424 284.673 93.4424 287.628C93.4424 306.624 107.718 322.172 125.173 322.172L276.274 322.172C293.729 322.172 308.005 306.624 308.005 287.628C308.005 284.673 305.782 282.253 303.068 282.253Z' fill='white'/%3E%3Cpath d='M273.062 205.074H301.181C303.947 205.074 306.189 202.908 306.189 200.235V194.987C306.189 192.315 303.947 190.148 301.181 190.148H273.062C270.296 190.148 268.055 192.315 268.055 194.987V200.235C268.055 202.908 270.296 205.074 273.062 205.074Z' fill='%2336671B'/%3E%3Cpath d='M274.824 204.689L302.943 204.793C305.709 204.804 307.959 202.646 307.968 199.973L307.988 194.726C307.998 192.053 305.765 189.878 302.999 189.868L274.88 189.763C272.114 189.753 269.864 191.911 269.854 194.583L269.835 199.831C269.825 202.504 272.058 204.678 274.824 204.689Z' fill='%2336671B'/%3E%3Cpath d='M230.646 204.689L258.764 204.793C261.53 204.804 263.78 202.646 263.79 199.973L263.81 194.726C263.82 192.053 261.586 189.878 258.82 189.868L230.701 189.763C227.935 189.753 225.686 191.911 225.676 194.583L225.656 199.831C225.646 202.504 227.88 204.678 230.646 204.689Z' fill='%2336671B'/%3E%3Cpath d='M186.468 204.689L214.587 204.793C217.353 204.804 219.603 202.646 219.613 199.973L219.632 194.726C219.642 192.053 217.409 189.878 214.643 189.868L186.524 189.763C183.758 189.753 181.508 191.911 181.498 194.583L181.479 199.831C181.469 202.504 183.702 204.678 186.468 204.689Z' fill='%2336671B'/%3E%3Cpath d='M142.292 204.689L170.411 204.793C173.177 204.804 175.427 202.646 175.437 199.973L175.457 194.726C175.467 192.053 173.233 189.878 170.467 189.868L142.348 189.763C139.582 189.753 137.333 191.911 137.323 194.583L137.303 199.831C137.293 202.504 139.527 204.678 142.292 204.689Z' fill='%2336671B'/%3E%3Cpath d='M100.249 204.689L128.368 204.793C131.134 204.804 133.384 202.646 133.394 199.973L133.413 194.726C133.423 192.053 131.19 189.878 128.424 189.868L100.305 189.763C97.5388 189.753 95.2892 191.911 95.2792 194.583L95.2596 199.831C95.2496 202.504 97.4831 204.678 100.249 204.689Z' fill='%2336671B'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 309.002 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 286.472 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 262.011 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 237.551 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 213.089 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 188.628 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 166.294 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 143.958 210.066)' fill='%2340A808'/%3E%3Cellipse cx='14.1616' cy='9.67076' rx='14.1616' ry='9.67076' transform='matrix(-1 0 0 1 121.62 210.066)' fill='%2340A808'/%3E%3Cpath d='M99.074 254.552L303.252 255.314C307.489 255.33 310.936 252.023 310.951 247.929L310.971 242.625C310.986 238.53 307.564 235.198 303.327 235.182L99.1491 234.421C94.912 234.405 91.465 237.711 91.4497 241.806L91.4299 247.11C91.4146 251.204 94.8369 254.536 99.074 254.552Z' fill='%23AB3C00'/%3E%3Cpath d='M95.7954 268.764L306.618 269.55C309.02 269.559 310.974 267.685 310.983 265.363C310.992 263.042 309.051 261.153 306.649 261.144L95.8268 260.357C93.4247 260.348 91.4703 262.223 91.4617 264.544C91.453 266.866 93.3933 268.755 95.7954 268.764Z' fill='%23FF6200'/%3E%3Cpath d='M258.374 78.7349L234.744 80.5742L240.484 154.314L264.114 152.474L258.374 78.7349Z' fill='white'/%3E%3Cpath d='M215.999 82.0318L192.369 83.8711L198.109 157.611L221.739 155.771L215.999 82.0318Z' fill='white'/%3E%3Cpath d='M246.195 101.431L236.421 102.191L238.796 132.701L248.569 131.941L246.195 101.431Z' fill='black'/%3E%3Cpath d='M203.825 104.724L194.051 105.484L196.426 135.994L206.2 135.234L203.825 104.724Z' fill='black'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .mozz {
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='401' viewBox='0 0 400 401' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.535 181.883L307.096 181.883C310.008 181.883 312.392 179.291 312.392 176.126C312.392 155.776 297.079 139.121 278.355 139.121L116.276 139.121C97.5528 139.121 82.2395 155.776 82.2395 176.126C82.2395 179.291 84.6237 181.883 87.535 181.883Z' fill='%23FFAF00'/%3E%3Cpath d='M308.743 282.07L89.4725 282.07C86.565 282.07 84.1841 284.662 84.1841 287.827C84.1841 308.177 99.4771 324.832 118.176 324.832L280.04 324.832C298.738 324.832 314.031 308.177 314.031 287.827C314.031 284.662 311.651 282.07 308.743 282.07Z' fill='%23FFAF00'/%3E%3Cpath d='M276.6 217.586H306.723C309.686 217.586 312.087 215.266 312.087 212.403V206.781C312.087 203.918 309.686 201.598 306.723 201.598H276.6C273.637 201.598 271.236 203.918 271.236 206.781V212.403C271.236 215.266 273.637 217.586 276.6 217.586Z' fill='%2336671B'/%3E%3Cpath d='M278.488 217.177L308.61 217.289C311.573 217.3 313.983 214.988 313.993 212.125L314.014 206.504C314.025 203.641 311.632 201.311 308.669 201.3L278.547 201.188C275.585 201.177 273.175 203.488 273.164 206.352L273.143 211.973C273.132 214.836 275.525 217.166 278.488 217.177Z' fill='%2336671B'/%3E%3Cpath d='M231.162 217.177L261.284 217.289C264.247 217.3 266.657 214.988 266.668 212.125L266.689 206.504C266.699 203.641 264.307 201.311 261.344 201.3L231.222 201.188C228.259 201.177 225.849 203.488 225.838 206.352L225.817 211.973C225.807 214.836 228.199 217.166 231.162 217.177Z' fill='%2336671B'/%3E%3Cpath d='M183.838 217.177L213.96 217.289C216.923 217.3 219.333 214.988 219.343 212.125L219.364 206.504C219.375 203.641 216.982 201.311 214.02 201.3L183.898 201.188C180.935 201.177 178.525 203.488 178.514 206.352L178.493 211.973C178.482 214.836 180.875 217.166 183.838 217.177Z' fill='%2336671B'/%3E%3Cpath d='M136.515 217.177L166.637 217.289C169.6 217.3 172.01 214.988 172.021 212.125L172.042 206.504C172.052 203.641 169.66 201.311 166.697 201.3L136.575 201.188C133.612 201.177 131.202 203.488 131.191 206.352L131.17 211.973C131.16 214.836 133.552 217.166 136.515 217.177Z' fill='%2336671B'/%3E%3Cpath d='M91.4765 217.177L121.599 217.289C124.562 217.3 126.971 214.988 126.982 212.125L127.003 206.504C127.014 203.641 124.621 201.311 121.658 201.3L91.5362 201.188C88.5733 201.177 86.1633 203.488 86.1526 206.352L86.1317 211.973C86.121 214.836 88.5136 217.166 91.4765 217.177Z' fill='%2336671B'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 315.1 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 290.965 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 264.762 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 238.559 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 212.354 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 186.15 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 162.226 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 138.298 222.938)' fill='%2340A808'/%3E%3Cellipse cx='15.1704' cy='10.3597' rx='15.1704' ry='10.3597' transform='matrix(-1 0 0 1 114.369 222.938)' fill='%2340A808'/%3E%3Cpath d='M90.2182 270.59L308.941 271.406C313.48 271.423 317.173 267.881 317.189 263.495L317.21 257.813C317.227 253.427 313.561 249.857 309.022 249.84L90.2987 249.024C85.7597 249.008 82.0672 252.549 82.0508 256.935L82.0296 262.618C82.0132 267.004 85.6793 270.573 90.2182 270.59Z' fill='%23FFAF00'/%3E%3Cpath d='M234.597 75.3242H209.208V154.556H234.597V75.3242Z' fill='white'/%3E%3Cpath d='M189.067 75.3242H163.677V154.556H189.067V75.3242Z' fill='white'/%3E%3Cpath d='M219.703 98.5508H209.201V131.333H219.703V98.5508Z' fill='black'/%3E%3Cpath d='M174.178 98.5469H163.677V131.329H174.178V98.5469Z' fill='black'/%3E%3C/svg%3E%0A");
}
.history .year_group .year .milly {
    background-image: url("data:image/svg+xml,%3Csvg width='400' height='401' viewBox='0 0 400 401' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M89.4501 194.485L305.681 194.485C308.549 194.485 310.896 191.932 310.896 188.815C310.896 168.774 295.815 152.371 277.376 152.371L117.755 152.371C99.316 152.371 84.2349 168.774 84.2349 188.815C84.2349 191.932 86.5829 194.485 89.4501 194.485Z' fill='%23FFAF00'/%3E%3Cpath d='M307.303 293.156L91.3586 293.156C88.4952 293.156 86.1504 295.708 86.1504 298.826C86.1504 318.867 101.211 335.27 119.626 335.27L279.036 335.27C297.451 335.27 312.512 318.867 312.512 298.826C312.512 295.709 310.167 293.156 307.303 293.156Z' fill='%23FFAF00'/%3E%3Cpath d='M275.648 229.649H305.314C308.232 229.649 310.596 227.363 310.596 224.543V219.007C310.596 216.188 308.232 213.902 305.314 213.902H275.648C272.73 213.902 270.365 216.188 270.365 219.007V224.543C270.365 227.363 272.73 229.649 275.648 229.649Z' fill='%2336671B'/%3E%3Cpath d='M277.507 229.241L307.172 229.351C310.09 229.362 312.463 227.086 312.474 224.266L312.495 218.73C312.505 215.91 310.149 213.616 307.231 213.605L277.566 213.495C274.648 213.484 272.274 215.76 272.264 218.58L272.243 224.116C272.233 226.936 274.589 229.23 277.507 229.241Z' fill='%2336671B'/%3E%3Cpath d='M230.899 229.241L260.564 229.351C263.482 229.362 265.856 227.086 265.866 224.266L265.887 218.73C265.897 215.91 263.541 213.616 260.623 213.605L230.958 213.495C228.04 213.484 225.666 215.76 225.656 218.58L225.635 224.116C225.625 226.936 227.981 229.23 230.899 229.241Z' fill='%2336671B'/%3E%3Cpath d='M184.293 229.241L213.958 229.351C216.876 229.362 219.249 227.086 219.26 224.266L219.28 218.73C219.291 215.91 216.934 213.616 214.016 213.605L184.351 213.495C181.433 213.484 179.06 215.76 179.049 218.58L179.029 224.116C179.018 226.936 181.375 229.23 184.293 229.241Z' fill='%2336671B'/%3E%3Cpath d='M137.688 229.241L167.353 229.351C170.271 229.362 172.644 227.086 172.655 224.266L172.675 218.73C172.686 215.91 170.329 213.616 167.411 213.605L137.746 213.495C134.828 213.484 132.455 215.76 132.444 218.58L132.424 224.116C132.413 226.936 134.77 229.23 137.688 229.241Z' fill='%2336671B'/%3E%3Cpath d='M93.3321 229.241L122.997 229.351C125.915 229.362 128.289 227.086 128.299 224.266L128.32 218.73C128.33 215.91 125.974 213.616 123.056 213.605L93.3908 213.495C90.4728 213.484 88.0994 215.76 88.0889 218.58L88.0683 224.116C88.0578 226.936 90.4141 229.23 93.3321 229.241Z' fill='%2336671B'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 313.564 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 289.796 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 263.99 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 238.184 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 212.377 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 186.571 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 163.009 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 139.444 234.918)' fill='%2340A808'/%3E%3Cellipse cx='14.9403' cy='10.2026' rx='14.9403' ry='10.2026' transform='matrix(-1 0 0 1 115.878 234.918)' fill='%2340A808'/%3E%3Cpath d='M92.0931 281.846L307.499 282.65C311.969 282.666 315.605 279.178 315.622 274.859L315.642 269.263C315.659 264.943 312.048 261.428 307.578 261.411L92.1723 260.608C87.7022 260.591 84.0657 264.079 84.0495 268.399L84.0287 273.995C84.0125 278.314 87.623 281.829 92.0931 281.846Z' fill='%23AB3C00'/%3E%3Cg clip-path='url(%23clip0_91_1022)'%3E%3Cpath d='M111.649 144.845C111.649 101.115 147.1 65.6641 190.831 65.6641H205.913C249.644 65.6641 285.094 101.115 285.094 144.845H111.649Z' fill='%2336671B'/%3E%3Cpath d='M158.153 78.2344H183.157V156.264H158.153V78.2344Z' fill='white'/%3E%3Cpath d='M202.993 78.2344H227.998V156.264H202.993V78.2344Z' fill='white'/%3E%3Cpath d='M172.822 101.109H183.164V133.394H172.822V101.109Z' fill='black'/%3E%3Cpath d='M217.656 101.105H227.998V133.39H217.656V101.105Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_91_1022'%3E%3Cpath d='M111.649 144.845C111.649 101.115 147.1 65.6641 190.831 65.6641H205.913C249.644 65.6641 285.094 101.115 285.094 144.845H111.649Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.recipy {
    padding: 5.88em 0;
}
.recipy .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.82em;
}
.recipy h2 {
    font-family: "Riasans";
    font-size: var(--visual-m);
    line-height: 1.5;
    color: var(--primary-color);
}
.recipy .recipy_group {
    display: flex;
    width: 100%;
    gap: 1.41em;
    color: var(--bg-color);
}
.recipy .recipy_group .right {
    width: 130%;
    height: 32.94rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.2)),url(../images/recipy/recipy_01.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}
.recipy .recipy_group .right, .top, .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.35em;
    gap: 1.41em;
}
.recipy .recipy_group .title {
    display: flex;
    flex-direction: column;
    gap: 0.58em;
    color: var(--bg-color);
}
.recipy .recipy_group .right_group h3 {
    font-family: "Riasans";
    font-size: var(--title-XXL);
    line-height: 1.5;
}
.recipy .recipy_group .top_group h3, .bottom_group h3  {
    font-family: "Riasans";
    font-size: var(--title-L);
    line-height: 1.5;
}
.recipy .recipy_group .top_group p, .bottom_group p {
    max-width: 30.76rem;
    display: none;
}
.recipy .recipy_group .more a {
    display: inline-block;
    padding: 0.52em 1.05em;
    font-size: var(--body-L);
    font-weight: 700;
    border: 1px solid var(--bg-color);
    border-radius: 5.26em;
    background-color: rgba(29, 29, 29, 0.2);
}
.recipy .recipy_group .more a:hover {
    color: var(--bg-color);
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
}
.recipy .recipy_group .left_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.41em;
}
.recipy .recipy_group .left_group .top {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.2)),url(../images/recipy/recipy_02.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}
.recipy .recipy_group .left_group .bottom {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(240, 0, 40, 0.2)),url(../images/recipy/recipy_03.jpg) no-repeat center center / cover;
    border-radius: 1.17rem;
}